force-app/main/default/flows/CPQ_API_Screen_Flow_from_Opty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Method &quot;addProducts&quot; is invoked. Method is in apex class CPQQuoteProductAdderAPI.
This event ultimately calls out to CPQ API with input quoteModel &amp; list of productModels, then returns consolidated quote model.</description>
        <name>addProducts</name>
        <label>addProducts</label>
        <locationX>95</locationX>
        <locationY>301</locationY>
        <actionName>CPQQuoteProductAdderAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>calculateQuote</targetReference>
        </connector>
        <inputParameters>
            <name>products</name>
            <value>
                <elementReference>productModels</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>quoteModel</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>quoteModel</assignToReference>
            <name>quote</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>calculateQuote</name>
        <label>calculateQuote</label>
        <locationX>408</locationX>
        <locationY>338</locationY>
        <actionName>CPQQuoteCalculatorAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>saveQuote</targetReference>
        </connector>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>quoteModel</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Method &quot;readProduct&quot; is invoked. Method is in apex class CPQProductLoaderAPI. 
This event ultimately calls out to CPQ API with input product criteria, then returns product model.</description>
        <name>readProduct</name>
        <label>readProduct</label>
        <locationX>407</locationX>
        <locationY>196</locationY>
        <actionName>CPQProductLoaderAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>addProductToProductList</targetReference>
        </connector>
        <inputParameters>
            <name>currencyCode</name>
            <value>
                <elementReference>getWarrantyProduct.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricebookId</name>
            <value>
                <elementReference>getStandardPB.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>getWarrantyProduct.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>productModel</assignToReference>
            <name>product</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Method &quot;readQuote&quot; is invoked. Method is in apex class CPQQuoteReaderAPI.
This event ultimately calls out to CPQ API with input quoteId, and returns quote model.</description>
        <name>readQuote</name>
        <label>readQuote</label>
        <locationX>1038</locationX>
        <locationY>237</locationY>
        <actionName>CPQQuoteReaderAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>addProducts</targetReference>
        </connector>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>createQuote</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>quoteModel</assignToReference>
            <name>quote</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>saveQuote</name>
        <label>saveQuote</label>
        <locationX>736</locationX>
        <locationY>372</locationY>
        <actionName>CPQQuoteSaverAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CPQ_API</targetReference>
        </connector>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>quoteModel</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>quoteModel</assignToReference>
            <name>quote</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>addProductToProductList</name>
        <label>addProductToProductList</label>
        <locationX>741</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>productModels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productModel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>readQuote</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CPQ API  Screen Flow (from Opty) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ API  Screen Flow (from Opty)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createQuote</name>
        <label>createQuote</label>
        <locationX>92</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>readProduct</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>getOpty.Account.DMA_Account_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceBook__c</field>
            <value>
                <elementReference>getStandardPB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>getStandardPB.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOpty</name>
        <label>getOpty</label>
        <locationX>398</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStandardPB</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStandardPB</name>
        <label>getStandardPB</label>
        <locationX>734</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWarrantyProduct</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWarrantyProduct</name>
        <label>getWarrantyProduct</label>
        <locationX>1035</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createQuote</targetReference>
        </connector>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WARRANTY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CPQ_API</name>
        <label>CPQ API</label>
        <locationX>1021</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Debug</name>
            <fieldText>&lt;p&gt;Ending Quote Model: {!quoteModel}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>96</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>getOpty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>productModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productModels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
