force-app/main/default/flows/Propagate_Milestone_Billing_Dates_onto_all_Order_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_User_Input_to_Milestone_Date_Vars</name>
        <label>Assign User Input to Milestone Date Vars</label>
        <locationX>492</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>VAR_Initial_Deposit_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_Deposit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Milestone_Date_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Milestone_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Milestone_Date_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Milestone_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Milestone_Date_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Milestone_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acceptance_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acceptance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Milestone_Dates</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Propagate Milestone Billing Dates onto all Order Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Propagate Milestone Billing Dates onto all Order Line Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurOrderRecord</name>
        <label>getCurOrderRecord</label>
        <locationX>208</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Invoice_Milestone_Dates</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>VAR_CurOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DMA_Initial_Deposit_Date__c</queriedFields>
        <queriedFields>DMA_Milestone_1_Date__c</queriedFields>
        <queriedFields>DMA_Milestone_2_Date__c</queriedFields>
        <queriedFields>DMA_Milestone_3_Date__c</queriedFields>
        <queriedFields>DMA_Acceptance_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_BT_Acceptance</name>
        <label>Update BT Acceptance</label>
        <locationX>73</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>OutputText</targetReference>
        </connector>
        <filters>
            <field>DMA_Invoice_Plan_Line_Processing_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DMA_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__OverrideBillingTargetDate__c</field>
            <value>
                <elementReference>VAR_Acceptance_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__ServicePeriodStart__c</field>
            <value>
                <elementReference>VAR_Acceptance_Date</elementReference>
            </value>
        </inputAssignments>
        <object>blng__BillingTransaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BT_InitialDeposit</name>
        <label>Update BT InitialDeposit</label>
        <locationX>648</locationX>
        <locationY>216</locationY>
        <connector>
            <targetReference>Update_BT_Milestone_1</targetReference>
        </connector>
        <filters>
            <field>DMA_Invoice_Plan_Line_Processing_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DMA_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DMA_Test__c</field>
            <value>
                <stringValue>This is being updated.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__OverrideBillingTargetDate__c</field>
            <value>
                <elementReference>VAR_Initial_Deposit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__ServicePeriodStart__c</field>
            <value>
                <elementReference>VAR_Initial_Deposit_Date</elementReference>
            </value>
        </inputAssignments>
        <object>blng__BillingTransaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BT_Milestone_1</name>
        <label>Update BT Milestone 1</label>
        <locationX>507</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>Update_BT_Milestone_2</targetReference>
        </connector>
        <filters>
            <field>DMA_Invoice_Plan_Line_Processing_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DMA_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__OverrideBillingTargetDate__c</field>
            <value>
                <elementReference>VAR_Milestone_Date_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__ServicePeriodStart__c</field>
            <value>
                <elementReference>VAR_Milestone_Date_1</elementReference>
            </value>
        </inputAssignments>
        <object>blng__BillingTransaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BT_Milestone_2</name>
        <label>Update BT Milestone 2</label>
        <locationX>362</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Update_BT_Milestone_3</targetReference>
        </connector>
        <filters>
            <field>DMA_Invoice_Plan_Line_Processing_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DMA_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__OverrideBillingTargetDate__c</field>
            <value>
                <elementReference>VAR_Milestone_Date_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__ServicePeriodStart__c</field>
            <value>
                <elementReference>VAR_Milestone_Date_2</elementReference>
            </value>
        </inputAssignments>
        <object>blng__BillingTransaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BT_Milestone_3</name>
        <label>Update BT Milestone 3</label>
        <locationX>203</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>Update_BT_Acceptance</targetReference>
        </connector>
        <filters>
            <field>DMA_Invoice_Plan_Line_Processing_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DMA_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__OverrideBillingTargetDate__c</field>
            <value>
                <elementReference>VAR_Milestone_Date_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__ServicePeriodStart__c</field>
            <value>
                <elementReference>VAR_Milestone_Date_3</elementReference>
            </value>
        </inputAssignments>
        <object>blng__BillingTransaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Milestone_Dates</name>
        <label>Update Order Milestone Dates</label>
        <locationX>648</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_BT_InitialDeposit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DMA_Acceptance_Date__c</field>
            <value>
                <elementReference>VAR_Acceptance_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DMA_Initial_Deposit_Date__c</field>
            <value>
                <elementReference>VAR_Initial_Deposit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DMA_Milestone_1_Date__c</field>
            <value>
                <elementReference>VAR_Milestone_Date_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DMA_Milestone_2_Date__c</field>
            <value>
                <elementReference>VAR_Milestone_Date_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DMA_Milestone_3_Date__c</field>
            <value>
                <elementReference>VAR_Milestone_Date_3</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Input_Invoice_Milestone_Dates</name>
        <label>Input Invoice Milestone Dates</label>
        <locationX>347</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_User_Input_to_Milestone_Date_Vars</targetReference>
        </connector>
        <fields>
            <name>Initial_Deposit</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>VAR_CurOrderRecord.DMA_Initial_Deposit_Date__c</elementReference>
            </defaultValue>
            <fieldText>Input Initial Deposit Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Milestone_1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>VAR_CurOrderRecord.DMA_Milestone_1_Date__c</elementReference>
            </defaultValue>
            <fieldText>Input Milestone 1 Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Milestone_2</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>VAR_CurOrderRecord.DMA_Milestone_2_Date__c</elementReference>
            </defaultValue>
            <fieldText>Input Milestone 2 Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Milestone_3</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>VAR_CurOrderRecord.DMA_Milestone_3_Date__c</elementReference>
            </defaultValue>
            <fieldText>Input Milestone 3 Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Acceptance</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>VAR_CurOrderRecord.DMA_Acceptance_Date__c</elementReference>
            </defaultValue>
            <fieldText>Input Final Acceptance Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutputText</name>
        <label>OutputText</label>
        <locationX>71</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Output_VARS</name>
            <fieldText>&lt;p&gt;recordId: {!recordId}&lt;/p&gt;&lt;p&gt;VAR_Initial_Deposit_Date: {!VAR_Initial_Deposit_Date}&lt;/p&gt;&lt;p&gt;VAR_Milestone_1: {!VAR_Milestone_Date_1}&lt;/p&gt;&lt;p&gt;VAR_Milestone_2: {!VAR_Milestone_Date_2}&lt;/p&gt;&lt;p&gt;VAR_Milestone_3: {!VAR_Milestone_Date_3}&lt;/p&gt;&lt;p&gt;VAR_Acceptance: {!VAR_Acceptance_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getCurOrderRecord</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Acceptance_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_CurOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>VAR_Initial_Deposit_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_Milestone_Date_1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_Milestone_Date_2</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_Milestone_Date_3</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
