force-app/main/default/flows/Quick_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <description>Concatenated: Account.Name + &quot; Opty: Created on &quot; + CurrentDateTime()</description>
        <name>VAR_optyAutoName</name>
        <dataType>String</dataType>
        <expression>{!VAR_currentAcctRecord.Name} &amp; &quot; Opty - Created on &quot; &amp; TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel>Quick Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOptyRecord</name>
        <label>createOptyRecord</label>
        <locationX>65</locationX>
        <locationY>222</locationY>
        <assignRecordIdToReference>VAR_currentOptyRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>getCurrentOptyRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VAR_currentAcctRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>VAR_optyAutoName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>VAR_standardPricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>&#39;Draft&#39;</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>createQLRecord</name>
        <label>createQLRecord</label>
        <locationX>331</locationX>
        <locationY>424</locationY>
        <assignRecordIdToReference>VAR_currentQLRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>getCurrentQLRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__ChargeType__c</field>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ListPrice__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__NetPrice__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookEntryId__c</field>
            <value>
                <elementReference>VAR_PBERecord_MATH123.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>VAR_PBERecord_MATH123.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>VAR_currentQuoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordCreates>
    <recordCreates>
        <name>createQuoteRecord</name>
        <label>createQuoteRecord</label>
        <locationX>499</locationX>
        <locationY>230</locationY>
        <assignRecordIdToReference>VAR_currentQuoteRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>getCurrentQuoteRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>VAR_currentAcctRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>VAR_currentOptyRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceBook__c</field>
            <value>
                <elementReference>VAR_standardPricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>VAR_standardPricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordLookups>
        <name>getCurrentAcctRecord</name>
        <label>getCurrentAcctRecord</label>
        <locationX>168</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStandardPricebook</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>VAR_currentAcctRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCurrentOptyRecord</name>
        <label>getCurrentOptyRecord</label>
        <locationX>313</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createQuoteRecord</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_currentOptyRecord.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>VAR_currentOptyRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCurrentQLRecord</name>
        <label>getCurrentQLRecord</label>
        <locationX>579</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateQuoteToOrder</targetReference>
        </connector>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>VAR_currentQLRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>SBQQ__ProductName__c</queriedFields>
        <queriedFields>SBQQ__Quantity__c</queriedFields>
        <queriedFields>SBQQ__ListPrice__c</queriedFields>
        <queriedFields>SBQQ__NetPrice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCurrentQuoteRecord</name>
        <label>getCurrentQuoteRecord</label>
        <locationX>694</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPBE_MATH123</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_currentQuoteRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>SBQQ__PriceBook__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>SBQQ__PricebookId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>VAR_currentQuoteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__Account__c</queriedFields>
        <queriedFields>SBQQ__Opportunity2__c</queriedFields>
        <queriedFields>SBQQ__PricebookId__c</queriedFields>
        <queriedFields>SBQQ__PriceBook__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPBE_MATH123</name>
        <label>getPBE_MATH123</label>
        <locationX>71</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createQLRecord</targetReference>
        </connector>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MATH123</stringValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>VAR_PBERecord_MATH123</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getStandardPricebook</name>
        <label>getStandardPricebook</label>
        <locationX>329</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createOptyRecord</targetReference>
        </connector>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>VAR_standardPricebook</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsStandard</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateQuoteToOrder</name>
        <label>updateQuoteToOrder</label>
        <locationX>850</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>System_out_println</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_currentQuoteRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>System_out_println</name>
        <label>System.out.println</label>
        <locationX>120</locationX>
        <locationY>652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;__VAR_currentAcctRecord&lt;/p&gt;&lt;p&gt;Account Id: {!VAR_currentAcctRecord.Id}&lt;/p&gt;&lt;p&gt;Account Name: {!VAR_currentAcctRecord.Name}&lt;/p&gt;&lt;p&gt;__VAR_currentOptyRecord&lt;/p&gt;&lt;p&gt;Opty Id: {!VAR_currentOptyRecord.Id}&lt;/p&gt;&lt;p&gt;Opty Name: {!VAR_currentOptyRecord.Name}&lt;/p&gt;&lt;p&gt;Opty Stage: {!VAR_currentOptyRecord.StageName}&lt;/p&gt;&lt;p&gt;Opty CloseDate: {!VAR_currentOptyRecord.CloseDate}&lt;/p&gt;&lt;p&gt;__VAR_currentQuoteRecord&lt;/p&gt;&lt;p&gt;Quote Id: {!VAR_currentQuoteRecord.Id}&lt;/p&gt;&lt;p&gt;Quote Name: {!VAR_currentQuoteRecord.Name}&lt;/p&gt;&lt;p&gt;Quote Acct: {!VAR_currentQuoteRecord.SBQQ__Account__c}&lt;/p&gt;&lt;p&gt;Quote Opty: {!VAR_currentQuoteRecord.SBQQ__Opportunity2__c}&lt;/p&gt;&lt;p&gt;Quote PbId: {!VAR_standardPricebook.Id}&lt;/p&gt;&lt;p&gt;Quote Pb: {!VAR_standardPricebook.Name}&lt;/p&gt;&lt;p&gt;__VAR_PBERecord_MATH123&lt;/p&gt;&lt;p&gt;ProductCode:  {!VAR_PBERecord_MATH123.ProductCode}&lt;/p&gt;&lt;p&gt;PBE Id: {!VAR_PBERecord_MATH123.Id}&lt;/p&gt;&lt;p&gt;PBE Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!VAR_PBERecord_MATH123.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;PB Id: {!VAR_PBERecord_MATH123.Pricebook2Id}&lt;/p&gt;&lt;p&gt;Product Id: {!VAR_PBERecord_MATH123.Product2Id}&lt;/p&gt;&lt;p&gt;Unit Price: {!VAR_PBERecord_MATH123.UnitPrice}&lt;/p&gt;&lt;p&gt;__VAR_currentQLRecord&lt;/p&gt;&lt;p&gt;QL Id: {!VAR_currentQLRecord.Id}&lt;/p&gt;&lt;p&gt;QL Name: {!VAR_currentQLRecord.Name}&lt;/p&gt;&lt;p&gt;QL Pname: {!VAR_currentQLRecord.SBQQ__ProductName__c}&lt;/p&gt;&lt;p&gt;QL Qty: {!VAR_currentQLRecord.SBQQ__Quantity__c}&lt;/p&gt;&lt;p&gt;QL List Price: {!VAR_currentQLRecord.SBQQ__ListPrice__c}&lt;/p&gt;&lt;p&gt;QL Net Price: {!VAR_currentQLRecord.SBQQ__NetPrice__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VAR_currentAcctRecord.Id</elementReference>
            </defaultValue>
            <fieldText>Text 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Text_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VAR_currentOptyRecord.Id</elementReference>
            </defaultValue>
            <fieldText>Text 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Long_Text_Area</name>
            <defaultValue>
                <stringValue>Account Id: {!VAR_currentAcctRecord.Id} 
Account Name: {!VAR_currentAcctRecord.Name} 
</stringValue>
            </defaultValue>
            <fieldText>Long Text Area</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getCurrentAcctRecord</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_currentAcctRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VAR_currentOptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VAR_currentQLRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>VAR_currentQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>VAR_PBERecord_MATH123</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>VAR_standardPricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
</Flow>
